// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.static-field {
    visibility: hidden;
}

.post-button {
    background-color: aqua;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    border: none;
}

.post-button:hover {
    opacity: 50%;
}

.img-container {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.tweets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

td {
    margin: 5px;
}

.post {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid lightgray;
    width: 600px;
    height: auto;
    box-shadow: 2px 2px lightgray;
    border-radius: 10px;
    justify-content: left;
    margin: 10px;
}

.col-1 {
    display: flex;
    margin: 5px;
}
.col-2 {
    display: flex;
    margin: 5px;
}
.col-3 {
    display: flex;
    flex: 1 0 100%;
    margin: 5px;
}
.col-all {
    display: flex;
    flex: 1 0 100%;
    margin: 5px;
}